.profile {
  grid-area: main;
  background-color: #ffffff;
  border: 1px solid #D8DFEB;
  height: inherit;
  /* background-color: #ffffff; */
}

.profile img {
  width: 100%;
  height: 150px;
  background-size: cover;
}