.item {
    background-color: var(--transparentBg);
    overflow: scroll;
    height: 100vh;
    border-radius: 15px;

}

.currentPage {
    font-weight: bold;
    color: #4c2234;
}

.pageNumber {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    max-width: 190px;
}