.posts {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.post {
    width: 400px;
}

.item {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.button {
    font-size: 18px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: #4c2234;
    border: 1px solid rgb(70 65 65);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.button:active {
    background-color: #4072c8;

}

.field {
    border: 2px solid #2c5caa;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    font-size: 18px;
    padding-left: 10px;
    margin: 2px;
    margin-left: 10px;
    outline: none;
    padding: 10px;
}