.header {
  grid-area: header;
  background-color: #2D5BAA;
  max-height: 64px;
  padding: 0 10px;
}

.header img {
  width: 30px;
  height: 30px;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.ico {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 200px;
  max-height: 60px;
}

.title {
  color: #ffffff;
  size: 22px;
  line-height: 32px;
}