.nav {
  grid-area: nav;
  background-color: var(--transparentBg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* width: 250px; */
  border-radius: 15px;
  height: fit-content;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  list-style-type: none;
  font-size: 20px;
  width: 130px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.ico {
  width: 24px;
  height: 24px;
  background-color: #F0F4FA;
  padding: 4px;
  margin-right: 10px;
  border-radius: 6px;
}

.item:hover {
  background-color: #E8F1FF;
  border-radius: 7px;
  color: #4c2234;
}

/* change ico color on  start */
.item:hover>svg {
  background-color: #4c2234;
}

.item:hover>svg path:nth-child(1) {
  fill: #ffffff;
}

.item:hover>svg path:nth-child(2) {
  fill: #ffffff;
}

.item:hover>svg path:nth-child(3) {
  fill: #ffffff;
}

/* change ico color on hover end */