.nav {
  grid-area: nav;
  background-color: #ffffff;
  border: 1px solid #D8DFEB;
  border-right: none;
  /* background-color: #ffffff; */

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 350px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  /* justify-content: center; */
  list-style-type: none;
  font-size: 20px;
  width: 130px;
  cursor: pointer;

}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.ico {
  width: 24px;
  height: 24px;
  background-color: #F0F4FA;
  padding: 4px;
  margin-right: 10px;
  border-radius: 6px;
}

.item:hover {
  background-color: #E8F1FF;
  border-radius: 7px;
  color: #2D5BAA;
}

/* change ico color on  start */
.item:hover>svg {
  background-color: #2D5BAA;
}

.item:hover>svg path:nth-child(1) {
  fill: #ffffff;
}

.item:hover>svg path:nth-child(2) {
  fill: #ffffff;
}

.item:hover>svg path:nth-child(3) {
  fill: #ffffff;
}

/* change ico color on hover end */