.description {
    margin: 20px;
}

.contacts {
    margin: 10px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 30%;
}

.keys {
    font-weight: bold;
}