.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "header header header"
    "nav main main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
  gap: 40px;
  min-height: 100vh;
}

.site-wrapper {
  background: url('../src//assets/bg.jpeg')
}

.app-wrapper-content {
  grid-area: main;
}

a {
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* letter-spacing: 0em; */
  /* text-align: left; */
  color: #ffffff
}

h1 {
  font-family: Lato;

}