.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #ffffff;
    border: 1px solid #D8DFEB;
    height: inherit;
}

.people {
    padding: 10px;


}

.chats {
    padding: 10px;
}

.people .item {
    padding: 20px;
    background-color: rgb(180, 199, 156);
    border-bottom: 1px solid black;

}

.chats .item {
    padding: 23px;
    background-color: beige;
    border-bottom: 1px solid black;

}