.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: var(--transparentBg);
    height: inherit;
    color: #4c2234;
    border-radius: 15px;
}

.personName {
    color: #4c2234;
    text-decoration: none;
}

.people {
    padding: 10px;
}

.chats {
    padding: 10px;
}

.people .item {
    padding: 20px;
    background-color: #ffffff76;
    border-bottom: 1px solid black;

}

.chats .item {
    padding: 23px;
    background-color: #ffffffa9;
    border-bottom: 1px solid black;

}